# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# SQLite database
*.db

# dotenv
.env

# Downloads
downloads/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
